<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>passwordGesture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4F898851CAA45C900F2C7DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F8989E1CAA45C900F2C7DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F898A91CAA45C900F2C7DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
